<!DOCTYPE html>
<html>
<head>
<title>HelperAI</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="icon" type="image/x-icon" href="/static/logo1.ico" />
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('static/bgr.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.logo{
  width:5%;
  margin-top:15px;
  margin-left:10px;
}
</style>
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div>
    <img src="static/logo.png" class="logo">
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">COMING SOON</h1>
    <h1 class="w3-jumbo w3-animate-top" style="text-align:center;">HelperAI</h1>
    <hr class="w3-border-grey" style="margin:auto;width:100%">
    <p class="w3-large w3-center">Support: helperai24x7@gmail.com</p>
    <p class="w3-large w3-center"> AI is going to change the world!</p>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Powered by <a href="/" target="_blank">HelperAI</a>
  </div>
</div>

</body>
</html>
